/******************* 
    index css style
 *******************/
/* login */
.userlogin,.userloginverify{ width:211px; height:285px; text-align:left; float:left; overflow:hidden; position:relative; border-bottom:1px solid #d0d0d0; background:url(../images/login_bg.gif) left repeat-y;}
.userlogin h2{ height:21px; padding-top:9px; padding-left:30px; background:url(../images/login_t_bg.gif) top no-repeat;}
.userloginverify h2{ height:21px; padding-top:9px; padding-left:30px; background:url(../images/login_t_bg.gif) top no-repeat;}
.userlogin .txt01{ padding-left:27px; margin-top:18px; font-size:14px;font-weight: bold;}
.userlogin .txt02{ padding-left:27px; margin-top:10px; font-size:14px;font-weight: bold;}
.userlogin .txt02 .t1{ float:left; margin-top:5px;}
.userlogin input{ height:19px; line-height:19px; border:1px solid #9c9c9c; font-size:12px; color:#666; vertical-align:middle;}
.userlogin input.c1{ width:100px;}
.userlogin input.c2{ width:40px; float:left;}
.userlogin .btn{ margin-top:14px; padding-left:38px; clear:both;}
.userlogin .btn a{ color:#005ad5; text-decoration:underline; font-size:14px;}
.userlogin .btn a:hover{ color:#ff6600;}
.userlogin .btn input{ width:70px; height:26px; line-height:26px; background-image:url(../images/login_btn_bg.gif); border:0px; font-size:14px; color:#000000; margin-left:15px; cursor:pointer;}
.userlogin .btn2{ margin-top:10px; padding-left:10px; clear:both;}
.userlogin .loginhelp{ margin-top:10px; padding-left:38px; line-height:22px;}
.userlogin .loginhelp a{ display:block; float:left; width:60px; padding-left:12px; margin-right:3px; background:url(../images/arrow_01.gif) 0px 4px no-repeat;}
.userloginsuccess{ width:211px; height:285px; float:left; text-align:left; overflow:hidden; position:relative; border-bottom:1px solid #d0d0d0; background:url(../images/login_bg.gif) left repeat-y;}
.userloginsuccess h2{ height:21px; padding-top:9px; padding-left:30px; margin-bottom:16px; background:url(../images/login_t_bg.gif) top no-repeat;}
.userloginsuccess ul{
	width:190px;
}
.userloginsuccess li{ height:34px; line-height:34px; font-size:14px; border-bottom:1px dotted #c8c8c7;}
.userloginsuccess .tit{ display:block; float:left; width:90px; text-align:right;font-weight: bold;}
.userloginsuccess .name{ font-weight:bold; color:#0077b2;}
.userloginsuccess .xinyong{color:#0077b2;}
.userloginsuccess .money{ font-weight:bold; color:#ff0000;}
.userloginsuccess .imgxinyong{margin-top:9px;}
.userloginsuccess .btn1{ margin-left:13px; margin-top:5px;}
.userloginsuccess .btn1 input{ width:86px; height:31px; line-height:31px; border:0px; cursor:pointer; background:url(../images/loginsuccess_btn_bg.gif) top no-repeat;}
.userloginsuccess .btn1 input.c1{ color:#FF0000; font-size:14px; font-weight:bold;}
.userloginsuccess .btn1 input.c2{ color:#0077b2; font-size:14px; font-weight:bold; margin-left:10px;}
.userloginsuccess .btn2{ padding-left:25px; margin-top:15px; font-family:"ו";}
.userloginsuccess .btn2 a{color:#0077b2; text-decoration:underline;}
.userloginsuccess .btn2 a:hover{color:#ff6600;}
.userloginsuccess .btn3{ padding-top:8px;}
.userloginsuccess .txt01{ clear:both; margin-top:0px;}
.userloginsuccess .txt01 .tit2{ color:#999999; width:98px; float:left; margin-top:2px; text-align:right;}
.userloginsuccess .txt01 .txt2{ color:#999999; float:left; margin-top:1px;}
/* banner */
.mainbanner{ width:528px; height:303px; overflow:hidden; float:left; margin-left:8px;}
.mainbanner .banner{ width:100%; height:206px; overflow:hidden;}
.mainbanner .tupian{ width:100%; height:37px; overflow:hidden;}
.mainbanner .menu{ width:528px; height:60px; overflow:hidden;}
.mainbanner .menu a:hover{ display:block; padding-left:3px; margin-top:3px;}
.mainbanner .menu li{ display:block; width:87px; float:left; text-align:center; color:#333333; font-size:12px; font-weight:bold; line-height:19px!important; line-height:8px;}
/* notice */
.noticeBox{ width:225px; height:286px; overflow:hidden; float:right; position:relative;}
.noticeBox .btn{ position:absolute; top:0px; left:0px; width:100%; height:34px; overflow:hidden;}
.notice{ position:absolute; top:42px; left:0px; width:223px; height:241px; border:1px solid #f9d391; overflow:hidden;}
.notice .list li{ padding-left:25px; margin-top:8px; background:url(../images/arrow_09.gif) 10px 4px no-repeat;}
.notice .title{ color:#d66500; height:22px; margin-bottom:14px; background:url(../images/tag_horn.gif) 8px 8px no-repeat; background-color:#fff7f0; padding-left:28px; padding-top:6px; position:relative;}
.notice .title .more{ position:absolute; right:10px; top:6px; text-align:right;} 
.notice .title .more a{color:#d66500;} 
.notice .title .more a:hover{color:#ff6600;}
/* message */
.message{ width:100%; height:580px; overflow:hidden;}
.message .title{ width:745px; height:28px; border:1px solid #b5d6da; border-bottom:3px solid #53bbf0; background:url(../images/message_t_bg.gif) bottom repeat-x; position:relative;}
.message .title h2{ padding-left:38px; padding-top:6px; color:#2e5085; background:url(../images/tag_05.gif) 12px 6px no-repeat;}
.message .title .note{ position:absolute; right:10px; top:5px;}
/* message-button-style*/
.message .title li{ color:#0085b9; font-size:12px; float:left; text-align:center; margin-right:8px; padding-top:11px;}
.message .title a{ color:#0085b9;}
.message .title a:hover{ color:#FF6600;}
.message .title li.on{ height:21px; width:104px; background:url(../images/active_t_on_bg.gif) top no-repeat; margin-right:15px;}
.message .title li.on a{ color:#363636;}
.message .title li.on a:hover{ color:#FF6600;}
.message .title li.off{ height:21px; width:104px; margin-right:15px;}
/*---------------------*/
.message .submenu{ width:745px; height:29px; line-height:29px; color:#82a9c0; border-left:1px solid #68bad0; border-right:1px solid #68bad0; background-color:#f3fafc;}
.message .submenu .t1{ margin-left:120px;}
.message .submenu .t2{ margin-left:160px;}
.message .submenu .t3{ margin-left:142px;}
.message .submenu .t4{ margin-left:40px;}
.message .submenu .t5{ margin-left:30px;}

/*.message .content{ display:block; width:745px; height:500px; border:1px solid #68bad0; border-top:0px;}*/
.message .content {border-right: #68bad0 1px solid;border-top: #68bad0 0px solid;display: block; 
	 border-left: #68bad0 1px solid;width: 745px;border-bottom: #68bad0 1px solid;height: 518px;overflow: hidden;
} 

.message .content_hidden {display:none} 
.message .content .list1{ height:35px; clear:both; line-height:35px;}
.message .content .list2{ height:35px; clear:both; background-color:#f9f9f9;line-height:35px;}
.message .content .list1 .img,.message .content .list2 .img{ display:block; width:66px; float:left; overflow:hidden; text-align:center; margin-top:4px;}
.message .content .list1 .img a,.message .content .list2 .img a{ display:block; width:38px; margin:auto; border:1px solid #b5d6da;}
.message .content .list1 .img a:hover,.message .content .list2 .img a:hover{ display:block; width:38px; border:1px solid #ff6600;}
.message .content .list1 .qufu,.message .content .list2 .qufu{ display:block; width:220px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left; text-align:left; }
.message .content .list1 .biaoti,.message .content .list2 .biaoti{ display:block; width:265px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; float:left; text-align:left; color:#0077b2;}
.message .content .list1 .biaoti a,.message .content .list2 .biaoti a{ color:#0077b2;}
.message .content .list1 .biaoti a:hover,.message .content .list2 .biaoti a:hover{ color:#ff6600;}
.message .content .list1 .state,.message .content .list2 .state{ display:block; width:68px; float:left; overflow:hidden; text-align:center;  margin-top:12px;}
.message .content .list1 .jiage,.message .content .list2 .jiage{ display:block; width:120px; float:left; overflow:hidden; text-align:center; color:#ff0000;}
.message .content .list1 .time,.message .content .list2 .time{ display:block; width:100px; float:left; overflow:hidden; text-align:center; }
/* answer */
.answer{ width:223px; height:295px; overflow:hidden; border:1px solid #c1c1c1; border-top:0px; margin-top:8px;}
.answer .title{ background:url(../images/leftsidebar_t_bg.gif) top repeat-x; height:31px;}
.answer .title h2{ background:url(../images/tag_07.gif) 6px 8px no-repeat; height:22px; font-size:12px; padding-left:38px; padding-top:10px;}
.answer .sousuo { margin-top:8px; margin-left:5px; white-space:nowrap;}
.answer .sousuo input.txt{ width:123px; height:17px; line-height:17px; border:1px solid #c1c1c1;}
.answer .sousuo input.btn{ border:0px; width:40px; height:21px; color:#d77900; background:url(../images/aiwen_btn_bg.gif) top no-repeat; cursor:pointer;}
.answer .content{ width:213px; margin:auto; margin-top:5px; padding-top:17px; position:relative;}
.answer .content .menu{ position:absolute; top:0px; left:0px;}
.answer .content .menu a{ display:block; float:left; width:41px; height:18px; line-height:18px; text-align:center; color:#999999; text-decoration:none; background:url(../images/aiwen_menu_off.gif) top no-repeat;}
.answer .content .menu a.on{ display:block; float:left; width:41px; height:19px; line-height:19px; text-align:center; color:#454545; text-decoration:none; background:url(../images/aiwen_menu_on.gif) top no-repeat;}
.answer .content .list{ border:1px solid #c1c1c1; padding-bottom:10px; color:#666666;}
.answer .content .list a{ color:#666666;}
.answer .content .list a:hover{ color:#ff6600;}
.answer .content .list .tit{ width:96%; margin:auto; height:20px; line-height:20px; border-bottom:1px dotted #c1c1c1;}
.answer .content .list .tit .t1{ color:#ae0000; margin-left:10px;}
.answer .content .list .tit .t2{ color:#999999; margin-left:5px;}
.answer .content .list .tit .t3{ color:#999999; margin-left:46px;}
.answer .content .list .tit .t4{ color:#999999; margin-left:5px;}
.answer .content .list li{ margin-top:5px;}
.answer .content .list .biaoti{ display:block; float:left; width:135px; padding-left:5px;}
.answer .content .list .fen{ display:block; float:left; width:20px; text-align:center;}
.answer .content .list .state{ display:block; float:left; width:45px; text-align:center;}
/* active */
.active{width:100%; height:156px; overflow:hidden;}
.active .menu{ width:100%; height:33px; white-space:nowrap; position:relative; background:url(../images/active_t_bg.gif) top repeat-x;}
.active .menu h2{ color:#2e5085; width:130px; float:left; padding-left:45px; padding-top:12px; background:url(../images/tag_09.gif) 11px 10px no-repeat;}
.active .menu li{ color:#0085b9; font-size:12px; float:left; text-align:center; margin-right:8px; padding-top:12px;}
.active .menu a{ color:#0085b9;}
.active .menu a:hover{ color:#FF6600;}
.active .menu li.on{ height:21px; width:104px; background:url(../images/active_t_on_bg.gif) top no-repeat; margin-right:15px;}
.active .menu li.on a{ color:#363636;}
.active .menu a:hover{ color:#FF6600;}
.active .content{ width:745px; height:122px; border:1px solid #68bad0; border-top:0px; overflow:hidden;}
.active .content .newsactive{ margin-top:18px;} 
.active .content .newsactive a{ margin-left:10px;}
/* gamecard  */
.gamecard{ width:100%;}
.gamecardmenu{ width:100%; height:34px; background:url(../images/column2_t_bg.gif) left no-repeat; overflow:hidden; position:relative;}
.gamecardmenu h2{ padding:11px 0px 0px 26px; color:#FFFFFF;}
.gamecardsubmenu{ position:absolute; left:0px; top:15px; padding-left:160px; width:100%;}
.gamecardsubmenu li{ float:left; margin-left:5px;}
.gamecardsearch{ position:absolute; right:0px; top:12px; padding-right:16px; text-align:right;}
.gamecardsearch select{ width:100px;}
.gamecardcontent{ width:740px; height:314px; background-color:#FFFFFF; text-align:center; overflow:hidden; position:relative;}
.gamecardcontent .cardlist{ width:712px; text-align:left; margin:auto;}
.gamecardcontent .cardlist ul{
    width:106px !important;
    width:102px;
	height:139px;
	float:left;
	background-color:#FFFFFF;
	border-left:1px solid #d7d7d7;
	border-top:1px solid #d7d7d7;
	border-bottom:1px solid #848484;
	border-right:1px solid #848484;
	padding:6px 0px 0px 6px;
	line-height:18px;
	margin:10px 14px 0px 14px;
	cursor:pointer;
}
/* cardTop */
.cardTopBox{ width:223px; height:268px; border:1px solid #c1c1c1; overflow:hidden;}
.cardTopBox h2{  background:url(../images/leftsidebar_t_bg.gif) top repeat-x; font-size:12px; height:31px; padding-left:13px; padding-top:8px; margin-top:-1px;}
.cardTopContent{padding-left:6px;}
.cardTopContent li{ width:200px; overflow:hidden; background:url(../images/arrow_02.gif) no-repeat 5px 5px; padding-left:20px; margin-bottom:9px;}
.cardTopContent h5{text-decoration:underline; float:left; width:133px;}
.cardTopContent span{text-decoration:underline;}
/* priceindex */
.priceindex{ width:100%; height:235px; overflow:hidden;}
.priceindex .title{ width:745px; height:28px; border:1px solid #b5d6da; border-bottom:0px; background:url(../images/message_t_bg.gif) bottom repeat-x;}
.priceindex .title h2{ padding-left:30px; padding-top:7px; color:#2e5085; background:url(../images/tag_08.gif) 8px 8px no-repeat;}
.priceindex .content{ width:745px; height:204px; border:1px solid #68bad0;}
/* hotthings */
.hotthings{ width:223px; height:233px; border:1px solid #c1c1c1; overflow:hidden;}
.hotthings h2{ background:url(../images/leftsidebar_t_bg.gif) top repeat-x; font-size:12px; height:23px; margin-top:-1px; padding-left:13px; padding-top:8px;}
.hotthingsContent{ padding-left:6px; line-height:22px;}
.hotthingsContent ul{ clear:both; padding-left:6px!important; padding-left:0px;}
/* friendlink */
.friendlinkBox{ width:980px; height:97px; text-align:left; margin:auto; margin-top:8px;  border:1px solid #c1c1c1; background-color:#f7f7f7; overflow:hidden;}
.friendlink h5{ width:70px; height:20px; float:left; color:#4c8acf; margin-left:15px; font-size:12px; padding-top:2px !important; padding-top:5px;}
.friendlink span{ float:left; width:840px; line-height:22px;}
.friendlink a{ color:#787878; white-space:nowrap; margin-right:1px;}
.friendlink a:hover{ color:#FF6600;}